<Page name="bpage_info" style="" tag="CantDel" text="bpage_info">
  <Table gridHeight="16" gridWidth="30" name="s_detail1_info" posX="0" posY="0" rowHeight="1" style="" tag="insW_CantDel" totalRows="15">
    <Edit aggregateColName="" aggregateName="" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" comment="cmt_buid" fieldId="14" gridHeight="1" gridWidth="1" lstrcomment="true" lstrtitle="true" name="defaultb" noEntry="true" posX="0" posY="0" rowCount="" sqlTabName="" stepX="" stepY="" style="" tabIndex="1" table_alias_name="" tag="Del" title="" widget="Edit"/>
  </Table>
</Page>
