<Folder gridHeight="10" gridWidth="31" name="detailexp" posX="2" posY="1" style="" tag="CantDel">
  <Page name="page_detailexp1" style="" tag="CantDel" text="page_1">
    <HBox gridHeight="8" gridWidth="29" name="HBox_detailexp" posX="0" posY="0" splitter="false" style="">
      <Grid gridHeight="8" gridWidth="25" name="Grid_detailexp" posX="2" posY="0" style="" tag="insW_CantDel"/>
    </HBox>
  </Page>
</Folder>
