<Group gridHeight="19" gridWidth="33" name="detail" posX="4" posY="1" tag="CantDel">
  <Table doubleClick="modify_detail" gridHeight="17" gridWidth="30" name="s_detail1" posX="1" posY="1" rowHeight="1" style="" tag="insW_CantDel" totalRows="15">
    <Edit aggregate="false" aggregateColName="" aggregateName="aggregate1" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" fieldId="1" gridHeight="1" gridWidth="1" name="defaultb" notNull="true" posX="0" posY="0" required="true" rowCount="" sqlTabName="" sqlType="SMALLINT" stepX="" stepY="" style="" tabIndex="1" table_alias_name="" tag="Del" title="" widget="Edit"/>
  </Table>
</Group>
