<?xml version="1.0" encoding="UTF-8" ?>
<ManagedForm databaseName="ds" fileVersion="23200" gstVersion="2320f" name="managedform" uid="">
  <AGSettings/>
  <Record additionalTables="" joinLeft="" joinOperator="" joinRight="" name="Undefined" order="" uid="{c55d573e-7302-464f-8ed7-c9acc1810020}" where=""/>
  <Form gridHeight="25" gridWidth="80" name="F000" tag="F000" text="Form"/>
  <DiagramLayout>
    <![CDATA[AAAAAgAAAEwAewBjADUANQBkADUANwAzAGUALQA3ADMAMAAyAC0ANAA2ADQAZgAtADgAZQBkADcALQBjADkAYQBjAGMAMQA4ADEAMAAwADIAMAB9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQ==]]>
  </DiagramLayout>
</ManagedForm>
