<Grid gridHeight="2" gridWidth="22" name="GridT_quantity" posX="2" posY="1" style="" tag="CantDel">
  <Button gridHeight="1" gridWidth="1" image="16/mainhidden.png" name="worksheethidden" posX="1" posY="0" sizePolicy="dynamic" style="noBorder" tabIndex="1" text=""/>
  <Label gridHeight="1" gridWidth="2" name="lbl_tbegin" posX="3" posY="0" style="" tag="CantDel" text="lbl_tbegin"/>
  <FFLabel aggregateColName="" aggregateName="" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" fieldId="2" gridHeight="1" gridWidth="10" name="h_count" posX="6" posY="0" rowCount="" sizePolicy="dynamic" sqlTabName="" stepX="" stepY="" style="" table_alias_name="" tag="CantDel" title="Edit1" widget="FFLabel"/>
  <Label gridHeight="1" gridWidth="2" name="lbl_tend" posX="17" posY="0" style="" tag="CantDel" text="lbl_tend"/>
</Grid>
