<Grid gridHeight="2" gridWidth="5" name="GridT_quantity" posX="2" posY="1" style="" tag="CantDel">
  <Label gridHeight="1" gridWidth="2" name="lbl_quantity1" posX="1" posY="0" style="" tag="CantDel" text=""/>
</Grid>
