<Grid gridHeight="2" gridWidth="36" name="GridT_quantity" posX="2" posY="1" style="" tag="CantDel">
  <Button gridHeight="1" gridWidth="1" image="16/qs.png" name="detail_qrystr" posX="1" posY="0" sizePolicy="dynamic" style="noBorder" tabIndex="1" text=""/>
  <Label gridHeight="1" gridWidth="2" name="lbl_dbegin" posX="3" posY="0" style="" tag="CantDel" text="lbl_dbegin"/>
  <FFLabel aggregateColName="" aggregateName="" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" fieldId="3" gridHeight="1" gridWidth="10" name="idx" posX="6" posY="0" rowCount="" sizePolicy="dynamic" sqlTabName="" sqlType="SMALLINT" stepX="" stepY="" style="" table_alias_name="" tag="CantDel" title="FFLabel1" widget="FFLabel"/>
  <Label gridHeight="1" gridWidth="2" name="lbl_dsep" posX="17" posY="0" style="" tag="CantDel" text="lbl_dsep"/>
  <FFLabel aggregateColName="" aggregateName="" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" fieldId="4" fieldType="NON_DATABASE" gridHeight="1" gridWidth="10" length="1" name="cnt" posX="20" posY="0" rowCount="" sizePolicy="dynamic" sqlTabName="" sqlType="SMALLINT" stepX="" stepY="" style="" table_alias_name="" tag="CantDel" widget="FFLabel"/>
  <Label gridHeight="1" gridWidth="2" name="lbl_dend" posX="31" posY="0" style="" tag="CantDel" text="lbl_dend"/>
</Grid>
