<HBox gridHeight="5" gridWidth="32" name="headerlock" posX="2" posY="1" tag="CantDel">
  <Group gridChildrenInParent="true" gridHeight="5" gridWidth="28" name="headerlock_group" posX="2" posY="0" style="" tag="CantDel" text="lbl_headerlock_group">
    <HBox gridHeight="3" gridWidth="26" name="headerlock_group_hbox" posX="1" posY="1" splitter="false" style="" tag="CantDel">
      <Grid gridHeight="3" gridWidth="8" name="headerlock_group_hbox_grid" posX="2" posY="0" style="" tag="insW_CantDel"/>
      <Grid gridHeight="3" gridWidth="7" name="grid1" posX="10" posY="0"/>
      <Grid gridHeight="3" gridWidth="7" name="grid2" posX="17" posY="0"/>
    </HBox>
  </Group>
</HBox>
