<Group gridChildrenInParent="true" gridHeight="10" gridWidth="28" name="master" posX="4" posY="1" style="" tag="CantDel">
  <HBox gridHeight="8" gridWidth="26" name="master_Group_HBox" posX="1" posY="1" splitter="false" style="" tag="">
    <Grid gridHeight="8" gridWidth="22" name="master_Group_HBox_Grid" posX="2" posY="0" style="" tag="insW_CantDel"/>
  </HBox>
</Group>
