<Grid gridHeight="5" gridWidth="15" name="grid_state" posX="2" posY="1" style="" tag="CantDel">
  <Label gridHeight="1" gridWidth="7" name="label_state1" posX="1" posY="0" style="" tag="CantDel" text=""/>
  <Button gridHeight="1" gridWidth="4" image="authstatus/statusblank.gif" name="statechange" posX="9" posY="0" tabIndex="1" tag="CantDel" text=""/>
  <ComboBox aggregateColName="" aggregateName="" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" comment="cmt_stus" fieldId="1" gridHeight="1" gridWidth="4" items="" name="stus" noEntry="true" notNull="true" posX="9" posY="1" queryEditable="true" required="true" rowCount="" scroll="true" sqlTabName="" stepX="" stepY="" style="" tabIndex="2" table_alias_name="" tag="cdfStatus" title="ComboBox1" widget="ComboBox"/>
</Grid>
