<?xml version="1.0" encoding="UTF-8" ?>
<ManagedForm databaseName="ds" fileVersion="23200" gstVersion="23215" name="ManagedForm" uid="{bebe5aa2-ac67-4406-843a-d45cdeedcbb2}">
  <AGSettings/>
  <Record additionalTables="" joinLeft="" joinOperator="" joinRight="" name="Undefined" order="" uid="{4a285173-9613-49e9-b430-60adcd8960e4}" where="">
    <RecordField colName="" fieldIdRef="10" name="stagenow" sqlTabName="" table_alias_name="" uid="{d456bd2e-8e2c-4986-b816-3a5e9a53a47c}"/>
    <RecordField colName="" fieldIdRef="11" name="stagecomplete" sqlTabName="" table_alias_name="" uid="{88ce191c-412e-46ff-b95b-0330b514c294}"/>
  </Record>
  <Form gridHeight="31" gridWidth="103" name="P002_hq" tag="P002_hq" text="Form">
    <HBox gridHeight="30" gridWidth="100" name="HBoxT1" posX="0" posY="0" tag="CantDel_FormRoot">
      <VBox gridHeight="30" gridWidth="29" name="qbe" posX="2" posY="0" splitter="true">
        <Folder gridHeight="24" gridWidth="29" name="folder_qbe" posX="0" posY="1">
          <Page name="page_qbe" text="page_qbe">
            <Grid gridHeight="23" gridWidth="23" name="grid_qbe" posX="0" posY="0" tag="insW_CantDel"/>
          </Page>
        </Folder>
        <Group gridHeight="4" gridWidth="29" name="group_progress" posX="0" posY="25" text="group_progress">
          <Grid gridHeight="2" gridWidth="27" name="grid2" posX="1" posY="1">
            <Label gridHeight="1" gridWidth="10" name="lbl_stagenow" posX="1" posY="0" text="lbl_stagenow"/>
            <FFLabel aggregateColName="" aggregateName="" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" fieldId="10" gridHeight="1" gridWidth="13" name="stagenow" posX="13" posY="0" rowCount="" sqlTabName="" stepX="" stepY="" table_alias_name="" title="fflabel1" widget="FFLabel"/>
            <Label gridHeight="1" gridWidth="10" name="lbl_stagecomplete" posX="1" posY="1" text="lbl_stagecomplete"/>
            <ProgressBar aggregateColName="" aggregateName="" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" fieldId="11" gridHeight="1" gridWidth="13" name="stagecomplete" posX="13" posY="1" rowCount="" sqlTabName="" stepX="" stepY="" table_alias_name="" title="progressbar1" widget="ProgressBar"/>
          </Grid>
        </Group>
      </VBox>
      <VBox gridHeight="30" gridWidth="67" name="mainlayout" posX="31" posY="0" splitter="true" style="" tag="CantDel">
        <VBox gridHeight="24" gridWidth="67" name="vb_detail" posX="0" posY="1" splitter="true" style="" tag="CantDel"/>
        <VBox gridHeight="4" gridWidth="67" name="vb_quantity" posX="0" posY="25" style="" tag="CantDel"/>
      </VBox>
    </HBox>
  </Form>
  <DiagramLayout>
    <![CDATA[AAAAAgAAAEwAewA4ADgAYwBlADEAOQAxAGMALQA0ADEAMgBlAC0ANAA2AGYAZgAtAGIAOQA1AGIALQAwADMAMwAwAGIANQAxADQAYwAyADkANAB9QCQAAAAAAABATYAAAAAAAAAAAAAAAAAAAQAAAEwAewBkADQANQA2AGIAZAAyAGUALQA4AGUAMgBjAC0ANAA5ADgANgAtAGIAOAAxADYALQAzAGEANQBlADkAYQA1ADMAYQA0ADcAYwB9QCQAAAAAAABAQoAAAAAAAAAAAAAAAAAAAQAAAEwAewA0AGEAMgA4ADUAMQA3ADMALQA5ADYAMQAzAC0ANAA5AGUAOQAtAGIANAAzADAALQA2ADAAYQBkAGMAZAA4ADkANgAwAGUANAB9QGbAAAAAAABALAAAAAAAAD9QYk3S8an8AQ==]]>
  </DiagramLayout>
</ManagedForm>
