<HBox gridHeight="19" gridWidth="37" name="detail" posX="2" posY="1">
  <Group gridHeight="19" gridWidth="33" name="detail1" posX="2" posY="0" tag="CantDel">
    <Table doubleClick="modify_detail" gridHeight="17" gridWidth="30" name="s_detail1" posX="1" posY="1" rowHeight="1" style="" tag="insW_CantDel" totalRows="15">
      <CheckBox aggregateColName="" aggregateName="" aggregateTableAliasName="" aggregateTableName="" colName="" columnCount="" fieldId="2" gridHeight="1" gridWidth="3" name="sel" notNull="true" posX="0" posY="0" required="true" rowCount="" sqlTabName="" stepX="" stepY="" tabIndex="1" table_alias_name="" title="lbl_sel" valueChecked="Y" valueUnchecked="N" widget="CheckBox"/>
    </Table>
  </Group>
</HBox>
