<Folder gridHeight="10" gridWidth="31" name="master" posX="2" posY="1" style="" tag="CantDel">
  <Page name="master_Folder_page" style="" tag="CantDel" text="page_1">
    <HBox gridHeight="8" gridWidth="29" name="master_Folder_page_HBox" posX="0" posY="0" splitter="false" style="">
      <Grid gridHeight="8" gridWidth="25" name="master_Folder_page_HBox_Grid" posX="2" posY="0" style="" tag="insW_CantDel"/>
    </HBox>
  </Page>
</Folder>
